@import 'normolize'
@import 'elements'
@import 'header'

.hero
    text-align: center
    padding: 0
    .container
        min-height: 600px
        height: 100vh
        max-height: 1000px
        padding-top: 96.5px
        padding-bottom: 50px

        @media screen and ( max-width:720px  )
            padding-top: 81.84px

    &__logo
        max-width: 266px
        margin: 0 auto 63px

    &__content
        margin: auto

    h1
        font-weight: 500
        font-size: 106px
        line-height: 103.9px
        letter-spacing: -6.11px

    &__link
        width: fit-content
        margin: 0 auto
        font-weight: 400
        font-size: 16px
        line-height: 28.76px

        .ic
            width: 15px
            height: 15px
            display: block
            margin: 10px auto 0

    @media screen and ( max-width: 1300px  )
        &__logo
            max-width: 219px
            margin-bottom: 31px

        h1
            font-size: 84.38px
            line-height: 82.71px
            letter-spacing: -4.86px

        &__link
            font-size: 14px
            line-height: 24.5px
            .ic
                width: 12px
                height: 12px

    @media screen and ( max-width: 720px  )
        &__logo
            max-width: 100px
            margin-bottom: 40px

        h1
            font-size: 41.47px
            line-height: 40.65px
            letter-spacing: -2.39px

.behind
    padding: 160px 0
    .container
        max-width: 1404px

    &__box
        background-color: rgba( 0, 0, 0, .15 )
        border: 1px solid #FFFFFF0A
        backdrop-filter: blur(20px)
        padding: 118px 69px 118px 100px
        border-radius: 20px
        color: $black
        gap: 60px
        position: relative
        z-index: 1
        --pt: 17px
        --pb: 20px
        &::before
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translate( -50%, -50% )
            width: calc( 100% - (var(--pt) * 2) )
            height: calc( 100% - (var(--pb) * 2) )
            background-color: $prime-2
            border-radius: 20px
            z-index: -1
            pointer-events: none

        &>*
            width: 52%
            &:first-child
                width: 48%

    &__heading
        font-size: 58px
        line-height: 130%
        margin: 0

    &__text
        opacity: .6
        font-size: 22px
        line-height: 150%

    @media screen and ( max-width: 1440px  )
        padding: 118px 0
        .container
            max-width: 1040px

        &__box
            --pt: 13px
            --pb: 15px
            padding: 88px 52px 88px 77px
            gap: 40px

            &>*
                width: 51%
                &:first-child
                    width: 49%

        &__heading
            font-size: 42px

        &__text
            font-size: 16px

    @media screen and ( max-width: 740px )
        padding: 45px 0
        &__box
            display: block
            padding: 30px 35px
            border-radius: 11.5px
            --pt: 10px
            --pb: 10px
            &::before
                border-radius: 11.5px

            &>*
                width: 100% !important

        &__heading
            font-size: 20px
            margin-bottom: 24px

        &__text
            font-size: 14px

    @media screen and ( max-width: 500px )
        &__text
            font-size: 10px

@import 'slick'

.fr
    padding: 130px 0
    &__bg
        border-radius: 45px
        backdrop-filter: blur(25px)

    .h2
        max-width: 1118px
        margin: 0 auto 100px

    &__subheading,
    &__name
        width: fit-content
        font-weight: 400
        font-size: 16px
        line-height: 100%
        background-color: rgba(#F4F4F4, .2)
        padding: 8px 13px 6px
        border-radius: 8px
        letter-spacing: -0.2px
        display: block

    &__name
        white-space: nowrap
        backdrop-filter: blur(35px)
        position: absolute
        z-index: 111
        top: 24px
        left: 50%
        transition: all .2s ease-in-out
        transform: translateX(-50%)
        margin: 0

    &__subheading
        color: $black
        background-color: $white
        box-shadow: 0px 3.52px 4.4px 0px #15151526
        margin: 0 auto 17px

    &__text
        text-align: left
        font-size: 12px
        line-height: 120%
        letter-spacing: -0.2px

    &__position
        line-height: 120%
        font-size: 16px
        margin: 0 0 12px

    &__img
        // opacity: 0
        position: relative
        z-index: -11
        width: 100%
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.67%, rgba(255, 255, 255, 0.3) 100%)

    &__box
        width: calc( 100% - 26px )
        position: absolute
        z-index: 1
        bottom: 0
        left: 13px
        border: 1.7px solid rgba( 255, 255, 255, .2 )
        border-bottom: none
        border-radius: 24px 24px 0 0
        padding: 50px 9px
        backdrop-filter: blur(25px)
        transform: translateY(20%)
        opacity: 0
        visibility: hidden
        transition: all .2s ease-in-out

    &__info
        text-align: center
        padding: 24px
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        i
            font-style: normal

        .ic
            width: 38px
            height: 38px
            display: block
            box-shadow: 0px 1.55px 1.94px 0px #15151526
            margin: 0 auto 10px

    &__number
        font-size: 67.82px
        line-height: 100%
        font-weight: 700
        color: $prime
        position: absolute
        z-index: 111
        top: 47%
        left: 50%
        transform: translate( -50%, -50% )
        margin: 0

    &__slider,
    &__slider--second
        width: 100%
        margin: 0 auto
        &-item
            width: 328px
            margin: 0 6px
            text-align: center
            border: 1px solid #576069
            border-radius: 20px
            position: relative
            z-index: 1
            overflow: hidden

            &::before,
            &::after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: -1
                pointer-events: none
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.49%, #0E1525 100%)

            &::after
                transition: all .2s ease-in-out
                opacity: 0
                z-index: -1112
                background-image: linear-gradient(180deg, #C5D86D 3.81%, #51DFFF 100%)

            &:hover
                &::after
                    opacity: 1

                .fr
                    &__box
                        transform: translateY(0)
                        opacity: 1
                        visibility: visible

                    &__name
                        background-color: rgba( 0, 0, 0, .5 )

                    &__info
                        opacity: 0

    .btn
        margin: 0 auto
        min-width: 264px

    &.--sm
        .h2
            max-width: 100%
            padding: 0 20px
            margin-bottom: 65px

        .fr
            &__name
                background-color: rgba(0, 0, 0, .2) !important

            &__subheading
                margin-top: 17px

            &__img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center center

            &__slider,
            &__slider--second
                &-item
                    aspect-ratio: 1
                    &::after
                        display: none

                    &:hover
                        .fr__name
                            top: 53px

            &__box
                height: calc( 100% - 32px )
                bottom: 16px
                padding: 94px 8px 24px
                border-radius: 24px

            &__item

    &__submit
        margin-top: 100px

    @media screen and ( max-width: 1300px )
        padding: 128px 0 170px
        .h2
            text-align: center
            margin-bottom: 70px

        &__box
            padding: 33px 11px

        &__name,
        &__subheading
            padding: 10px 15px 7px
        &__position,
        &__name,
        &__subheading
            font-size: 18px

        &__text
            font-size: 16px

        &__submit
            margin-top: 90px

        .btn
            min-width: 610px

        &.--sm
            .fr
                &__slider
                    &-item
                        width: 352px

                &__name
                    top: 28px !important

                &__box
                    left: 14px
                    padding: 80px 9px 11px

            .slick-list,
            .slick-track
                padding: 0 19px !important

    @media screen and ( max-width: 720px )
        .h2
            margin-bottom: 60px

        .btn
            min-width: 95%

        &__name
            top: 7px
        &__name,
        &__subheading
            padding: 6px 10px 4px

        &__number
            font-size: 40px

        &__info
            padding: 8px 12px
            .ic
                width: 20px
                height: 20px
                margin-bottom: 7px

        &__box
            padding: 20px 5px
            border-radius: 10px 10px 0 0

        &__name,
        &__info,
        &__subheading,
        &__position,
        &__text
            font-size: 12px

        &__slider
            &-item
                border-radius: 8px

        &.--sm
            .fr
                &__box
                    padding: 53px 5px 5px
                    width: calc( 100% - 16px )
                    left: 8px
                    top: 9px
                    height: calc( 100% - 18px )
                    border-radius: 14px
                &__name
                    top: 7px !important
                &__slider
                    &-item
                        border-radius: 11.76px
                        width: 198px
                        margin: 0 5px
                        &:hover
                            .fr__name
                                top: 14px !important

            .slick-list,
            .slick-track
                padding: 0 10px !important

@import 'marquee'

.company
    padding: 137px 0
    text-align: center
    &-slider

    .h2
        margin-bottom: 90px

    @media screen and ( min-width: 1300px )
        .h2
            font-weight: 275
            font-size: 86px
            line-height: 90%
            text-align: center

    @media screen and ( max-width:  1300px )
        .h2
            margin-bottom: 55px

@import 'footer'
